.navbar{
    height: 100px!important;
    background-color:#848FFF;
}

.navbar-brand{
    font-size: 40px;
    font-weight: normal;
    font-family: Inter;
    color: #FFFFFF;
    margin-left: 50px;
}

body{
    font-size: 16px;
    background-color: #D5D9FF;
    font-family: Inter;
}

.content-block{
    width: 650px;
    height: 825px;
    margin: 0 auto;
    font-size: 16px;
    font-color: #3F3F3F;
    font-family: Inter;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.tooltip-text {
    font-size: 12px;
    font-family: Inter, sans-serif;
    font-color: #3F3F3F;
    white-space: nowrap;
    background-color: #EFEFEF;
    border-radius: 5px;
    visibility: hidden;
    z-index: 1;
    padding: 2px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.hover-text {
  display: inline-block;
  margin: 2px;
  text-align: center;
}

.predict-button{
    width: 100px;
    height: 35px;
    margin-left: 265px;
    font-size: 16px;
    font-family: Inter;
    text-align: center;
    text-color: white;
    text-decoration: none;
    background-color: #848FFF;
    border-color: #848FFF;
    border-radius: 5px;
    padding: 2px 2px;
    display: inline-block;
    cursor: pointer;
}

.predict-button:hover{
    background-color: #5A69FF;
    border-color: #5A69FF;
}

.output-block{
    width:500px;
    height:75px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    background-color:#D5D9FF;
    border-color:#D5D9FF;
    border-radius:5px
}

.home-button{
    font-size: 18px;
    background-color: #848FFF;
    border-color: #848FFF;
    padding: 10px 30px 10px 30px;
}

.home-button:hover{
    background-color: #5A69FF;
    border-color: #5A69FF;
}
